/**
 页面自定义样式
 @author andot
 @date  2018-9-5
*/

html,
body,
#cesiumContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/*leaflet风格气泡窗口样式模板*/

.leaflet-popup {
    position: absolute;
    text-align: center;
}

.leaflet-popup-close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 4px 0 0;
    text-align: center;
    width: 18px;
    height: 14px;
    font: 16px/14px Tahoma, Verdana, sans-serif;
    color: #dc0000;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
}

.leaflet-popup-content-wrapper {
    text-align: center;
    max-height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
    padding: 1px;
    text-align: left;
    border-radius: 12px;
}

.leaflet-popup-content {
    margin: 13px 19px;
    line-height: 1.4;
}

.leaflet-popup-tip-container {
    margin: 0 auto;
    width: 200px;
    height: 100px;
    position: relative;
    overflow: hidden;
}

.leaflet-popup-tip {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 3px 14px rgba(0, 0, 0, 1);
    width: 17px;
    height: 17px;
    padding: 1px;
    margin: -10px auto 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

a {
    color: #00ff80;
    text-decoration: none;
}


/*设置比例尺位置*/

.distance-legend {
    left: 0px;
    bottom: 0px!important;
    background-color: rgba(47, 53, 60, .0)!important;
    border: none!important;
}


/*设置导航控件位置*/

.compass {
    top: 10px!important;
    left: 0px;
}

.navigation-controls {
    top: 100px!important;
    left: 30px;
}